
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}

header{
    background: rgba(0, 0, 0, 0.89);
    
}

.menu1{

display: flex;
justify-content: flex-end;
align-items: center;
list-style: none;
background-color: black;
color:beige;


}

li{
    margin: 5px;  
}

.menu1 > li > a{
    text-decoration: none;
    color: beige;
}

.menu2 {
    background-color: beige;
    height: 80px;
    width: 100%;
   
}

label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;  
  font-weight: bold;
}

.menu2 ul {
    float: right;
    margin-right: 20px;
}

.menu2 ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

.menu2 ul li a{
    color:black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}


a.active, .menu2 ul li a:hover{
    background: blanchedalmond;
    transition: .5s;
}


.checkbtn{
    font-size: 30px;
    color:black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

.Grand_logo{
    width: 7rem;
    height: 7rem;
   
}

.Grand_logo img{
    width: 100%;
}

i{
    font-size: 1rem;
}




.titre_principal{

    font-size: 4rem;
    text-align: center;
    color: beige;
}


.petit_titre{
    color: grey;
}

.liste_Paires{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.Paires{

    width: 23%; 
    cursor: pointer;
  
}

.Paires1{
  animation: Apparition 1s ;
}

.Paires2{
    animation: Apparition 2s  ;
}

.Paires3{
    animation: Apparition 3s ;
  }

  .Paires4{
    animation: Apparition 4s ;
  }

  .Paires5{
    animation: Apparition 5s ;
  }

  .Paires6{
    animation: Apparition 6s ;
  }

  .Paires7{
    animation: Apparition 7s ;
  }


.Paires  img{
    width: 100%;
}

.liste_Paires:hover a:not(:hover){
    opacity: 0.5;
}


figcaption{
    
    text-align: center;
    font-size: 2rem;
    transition: transform 0.5s;
    opacity: 1;
    
}

 a:not(:hover) figcaption{
    
    transform: translateY(20px);
    opacity: 0;
}

@keyframes Apparition{

    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width:952px){

    .Paires{
        width: 33%;
    }

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    .menu2 ul li a {
        font-size: 16px;
    }
}


@media screen and (max-width: 858px){
    
.Paires{
    width: 75%;
}
 
.checkbtn{
    display: block;
}
.menu2 ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:beige;
    top:80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

}

.menu2 ul li {
    display: block;
}

.menu2 ul li a {
    font-size:20px;
    font-weight: bold;
}


.menu2 ul li a:hover, a.active{
    background: none;
    color:green;
}

 #check:checked ~ ul {
     left: 0;
 }
}